
// COLORS
// $clr-main: #61892f;
$white: #fff;
$black: #000;

$clr-main: #FFE15D;
$clr-secondary: #F49D1A;
$clr-gray: #6b6e70;
$clr-background-light: #474b4f;
$clr-background: #222629;

// Breakpoint
$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1201px
);

// Text Sizes
$font-12: 12px;
$font-14: 14px;
$font-16: 16px;
$font-18: 18px;
$font-20: 20px;
$font-24: 24px;
$font-28: 28px;
$font-32: 32px;
$font-36: 36px;
$font-44: 44px;